name: Build
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '30 9 22 * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write

jobs:
  archlinux-aarch64:
    runs-on: ubuntu-24.04-arm
    outputs: &archlinux-outputs
      digest: ${{ fromJSON(steps.bake.outputs.metadata)[github.job]['containerimage.digest'] }}
    steps: &archlinux-steps
      - uses: docker/setup-buildx-action@v3.12.0
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6.10.0
        id: bake
        with:
          targets: ${{ github.job }}
          set: |
            ${{ github.job }}.output=type=image,push=true,push-by-digest=true
            ${{ github.job }}.tags=ghcr.io/tosainu/archlinux

  archlinux-armv7h:
    runs-on: ubuntu-24.04-arm
    outputs: *archlinux-outputs
    steps: *archlinux-steps

  archlinux-x86_64:
    runs-on: ubuntu-24.04
    outputs: *archlinux-outputs
    steps: *archlinux-steps

  merge-images:
    runs-on: ubuntu-slim
    needs:
      - archlinux-aarch64
      - archlinux-armv7h
      - archlinux-x86_64
    steps:
      - uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: tag
        run: |
          if [ "$GITHUB_EVENT_NAME" = pull_request ]; then
            echo "name=pr-${GITHUB_REF_NAME%/merge}" >> "$GITHUB_OUTPUT"
          else
            echo "name=${GITHUB_REF_NAME}" >> "$GITHUB_OUTPUT"
          fi
      - run: >-
          docker buildx imagetools create
          --tag ghcr.io/tosainu/archlinux:${{ steps.tag.outputs.name }}
          ghcr.io/tosainu/archlinux@${{ needs.archlinux-aarch64.outputs.digest }}
          ghcr.io/tosainu/archlinux@${{ needs.archlinux-armv7h.outputs.digest }}
          ghcr.io/tosainu/archlinux@${{ needs.archlinux-x86_64.outputs.digest }}
